GEMINI_API_KEY=
DEBUG=
ELASTICSEARCH_API_KEY=
ELASTICSEARCH_URL=
FRONTEND_REDIRECT_URLS=
GCP_PROJECT_ID=
GCP_REGION=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET_KEY=
OAUTH_REDIRECT_URI=
VERTEX_AI_LOCATION=
VERTEX_AI_MODEL=
VITE_API_URL=